.container{
    width: 100%;
    background-color: #FFFFFF;
    .working{
        background-color: #fff;
        width: 100%;
        span {
            margin-left: 45%;
            font-size:3rem;
            font-weight: 500;
        }
        img {
            margin-left: 46%;

        }
    }
    .work_one{
        display: flex;
        margin-top: 2rem;

        .workone_pictures{
            flex: 0.5;
            
            .pic_one{
                float: right;
            }
            .one_one{
                float: right;
                margin-right: -6.2rem;
                margin-top: 2.2rem;
            }
        }
        .desc_one{
            flex: 0.5;
            margin-top: 2rem;
            margin-left: 2rem;
            span {
                font-size: 2.5rem;
            }
            p{
                width: 50%;
                margin-top: 1rem;
                font-size: large;
                font-weight: 500;
            }
        }
    }
    .work_two{
        margin-top: -11rem;
        margin-right: 20rem;
        .workTwo_right{
            width: 100%;
            .workTwo_pictures{
                .pic_two{
                    float: right;
                    background: url("../../assets/pngs/work2-art.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-size: 18rem;
                    background-position-x: 34rem;
                    margin-bottom: -15.5rem;
                    background-position-y: 10rem;
                    height: 40rem;
                }
                .two_two{
                    margin-left: 56.5rem
                }
            }
            .workTwo_desc{
                width: 27%;
                float: right;
                margin-right: 6.4rem;
                margin-top: -4rem;
                span {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                p{
                    margin-top: 1rem;
                    font-size: large;
                    font-weight: 500;
                }
            }
        }
    }
    .work_three{
        margin-top: 15rem;
        display: flex;
        height: 30rem;
        .workthree_pictures{
            flex: 0.5;
            
            .pic_three{
                float: right;
                height: 25rem;
                margin-bottom: -14rem;
            }
            .three_three{
                margin-left: 39.6rem;
                margin-top: -10rem;
            }
        }
        .desc_three{
            flex: 0.4;
            margin-top: 2rem;
            margin-left: 2rem;
            span {
                font-size: 2.5rem;
            }
            p{
                width: 80%;
                margin-top: 1rem;
                font-size: large;
                font-weight: 500;
            }
        }
    }
    .try_it {
        border: 4px solid #EF8094;
        text-align: center;
        margin-top: 5rem;
        height: 3rem;
        line-height: 3rem;
        border-radius: 30px;
        width: 16rem;
        margin-right: auto;
        margin-left: auto;

        p {
            font-weight: 500;
            
            span {
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width:1600px) {
    .work_two{
        margin-left: 9rem;
        .workTwo_right{
            width: 100%;
            margin-left: 10rem;
                .two_two{           
                    margin-left: 27.5rem !important;
                }
            .workTwo_desc{
                margin-right: 14.4rem !important;

                span {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                p{
                    margin-top: 1rem;
                    font-size: large;
                    font-weight: 500;
                }
            }
        }
    }
    .three_three{
        margin-left: 29.6rem !important;
    }
}


@media only screen  and (max-width:1500px) {
    .work_two{
        margin-left: 9rem;
        .workTwo_right{
            width: 100%;
            margin-left: 15rem !important;
                .two_two{           
                    margin-left: 17.5rem !important;
                }
            .workTwo_desc{
                margin-right: 17.4rem !important;

                span {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                p{
                    margin-top: 1rem;
                    font-size: large;
                    font-weight: 500;
                }
            }
        }
    }

    .three_three{
        margin-left: 24.6rem !important;
    }
};

@media only screen and  (max-width:1024px) {
    .working{
        width:77rem !important
    }
}

@media only screen  and (max-width:1366px) {
    .work_two{
        margin-left: 9rem;
        .workTwo_right{
            width: 100%;
            margin-left: 15rem !important;
                .two_two{           
                    margin-left: 13.5rem !important;
                }
            .workTwo_desc{
                margin-right: 18.4rem !important;

                span {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                p{
                    margin-top: 1rem;
                    font-size: large;
                    font-weight: 500;
                }
            }
        }
    }

    .three_three{
        margin-left: 22rem !important;
    }
};

@media only screen and (max-width:1024px) {
    .desc_one{
        span {
            font-size: 2.5rem;
        }
        p{
            width: 80% !important;
            margin-top: 1rem;
            font-size: large;
            font-weight: 500;
        }
    }

    .work_two {
        .workTwo_right{
            .workTwo_pictures{
                .pic_two{
                    margin-right: -12rem !important;
                  
                }
                .two_two{
                    margin-left: 3.5rem !important;
                }
            }
            .workTwo_desc{
                width: 75% !important;
                margin-right: -3.6rem !important;
                span {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                p{
                    margin-top: 1rem;
                    font-size: large;
                    font-weight: 500;
                }
            }
        }
    }

    .work_three{
        .workthree_pictures{
            .three_three{
                margin-left: 11.6rem !important;
                margin-top: -10rem;
            }
        }
        .desc_three{
            flex: 0.4;
            margin-top: 2rem;
            margin-left: 2rem;
            span {
                font-size: 2.5rem;
                font-weight: 500;
            }
            p{
                width: 100%;
                margin-top: 1rem;
                font-size: large;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width:768px){
    .container{
        width: 70rem !important;
        .working{
            width:77rem !important
        }
        .work_two {
            .workTwo_right{
                .workTwo_pictures{
                    .pic_two{
                        margin-right: -12rem !important;
                    }
                    .two_two{
                        margin-left: 9.5rem !important;
                    }
                }
                .workTwo_desc{
                    width: 75% !important;
                    margin-right: -7.6rem !important;
                    span {
                        font-size: 2.5rem;
                        font-weight: 500;
                    }
                    p{
                        margin-top: 1rem;
                        font-size: large;
                        font-weight: 500;
                    }
                }
            }
        }

        .work_three{
            .workthree_pictures{
                .three_three{
                    margin-left: 14.6rem !important;
                    margin-top: -10rem;
                }
            }
            .desc_three{
                flex: 0.4;
                margin-top: 2rem;
                margin-left: 2rem;
                span {
                    font-size: 2.5rem;
                    font-weight: 500;
                }
                p{
                    width: 100%;
                    margin-top: 1rem;
                    font-size: large;
                    font-weight: 500;
                }
            }
        }
    }
}

@media only screen and (max-width:600px){
    .container{
        .working{
            width: 76.5rem !important;
            height: 18rem !important;

            span {
                margin-left: 11%;
                font-size:10rem;
                font-weight: 500;
            }
            img {
                margin-left: 12%;
                height: 4rem;
            }
        }

        .work_one{
            margin-top: 2rem;
            display: block;
            .workone_pictures{
                display: flex;
                .pic_one{
                    height: 62rem;
                    width: 74rem;
                }
                .one_one{
                    height: 20rem;
                    margin-left: -55rem;
                    margin-top: 5.2rem;
                }
            }
            .desc_one{
                margin-left: 9rem;
                span {
                    font-size: 6.5rem;
                    font-weight: 500 !important;
                }
                p{
                    width: 50%;
                    margin-top: 1rem;
                    font-size: 3rem !important;
                    font-weight: 500;
                }
            }
        }

        .work_two{
            display: block;
            margin-top: -11rem;
            margin-right: 20rem;
            .workTwo_right{
                width: 100%;
                .workTwo_pictures{
                    margin-left: 1rem !important;
                    .pic_two{
                        float: right;
                        margin-top: 6rem;
                        background-position-x: 67rem;
                        background-position-y: 25rem;
                        height: 86rem;
                        width: 109rem;
                        background: none;
                    }
                    .two_two{
                        height: 20rem !important;
                        margin-top: 15rem;
                        margin-left: -16rem !important;
                    }
                }
                .workTwo_desc{
                    width: 100% !important;
                    margin-top: -4rem;
                    margin-right: 16rem !important;
                    span {
                        font-size: 6.5rem !important;
                        font-weight: 500 !important;
                    }
                    p{
                        margin-top: 1rem;
                        font-size: 3rem;
                        width: 50rem;
                        font-weight: 500;
                    }
                }
            }
        }

        .work_three{
            display: block;
            .workthree_pictures{
                
                .pic_three{
                    float: left;
                    margin-left: 9rem !important;
                    margin-bottom: -53rem !important;
                    height: 60rem !important;
                }
                .three_three{
                    margin-left: 12.6rem !important;
                    height: 20rem;
                    margin-bottom: 7rem;
                    margin-top: 1rem;
                }
            }
            .desc_three{
                margin-top: 28rem;
                margin-left: 7rem;
                span {
                    font-size: 6.5rem;
                    font-weight: 500;
                }
                p{
                    width: 80%;
                    margin-top: 1rem;
                    font-size: 3rem;
                    font-weight: 500;
                }
            }
        }

        .try_it {
            border: 8px solid #EF8094;
            text-align: center;
            height: 10rem;
            line-height: 2.4;
            border-radius: 84px;
            width: 53rem;
            margin-top: 126rem;
            margin-right: auto;
            margin-left: auto;
    
            p {
                font-weight: 500;
                font-size: 4rem;
                span {
                    font-weight: 500;
                }
            }
        }

    }
}