.container{
    width: 100%;
    margin-top: -12px;
    .mobile_navbar{
        display: none;
    }
    .top_bar{
        height: 0.4rem;
        img {
            width: 100%;
            // margin-bottom: 11px;
        }
    }
    .nav_bar{
        display: flex;
        align-items: center;
        height: 6rem;
        margin-top: 0.5rem;
        
        .logo{
            flex: 0.45;
            
            img {
                margin-left: 7rem;
            }
        }

        .navbar_menu {
            flex: 0.55;
            display: flex;
            .menu_details{
                flex: 0.8;
                display: flex;
                height: 2rem;
                justify-content: space-evenly;
                letter-spacing: 2px;
                line-height: 2rem;
                text-align: center;
            }
            .log_in{
                height: 2rem;
                line-height: 2rem;
                text-align: center;
                border: 2px solid #4a4a4a;
                border-radius: 30px;
                flex: 0.15;
            }
        }
    }
}

@media only screen and (max-width:1024px){
    .container{
        width: 77rem;
        background: #FFFFFF;
    }
}

@media only screen and (max-width:768px){
    .container{
        width: 77rem;
        // margin-bottom: 1rem !important;
    }
}

@media only screen and (max-width:600px) {
    .container{
        width: 76.8rem ;
        background-color: #FFFFFF;
        height: 8rem ;
    }
    .top_bar{
        height: 0.4rem;
        margin-bottom: 3rem;
        img {
            width: 100%;
            // margin-bottom: 11px;
        }
    }
    .nav_bar{
        display: none !important;
    }

    .mobile_navbar{
        display: flex !important;
        justify-content: space-between;
        margin-left: 2rem;
        margin-top: 4rem;
        height: 4rem;
        align-items: center;
        margin-right: 2rem;
        margin-bottom: 3rem;
        background-color: #FFFFFF;

        .logo_mobile {
            img {
                height: 7rem;
                margin-left: 6rem;
            }
        }
        .mobile_menu{
            margin-right: 9rem;
            cursor: pointer;
        }
    }

    .show_menu{
        position: absolute;
        height: 77rem;
        width: 77rem ;
        background-color: #F5F8FF;
        .close{
            float: right;
            margin-top: 2rem ;
            margin-right: 1rem ;
            cursor: pointer;
            img {
                height: 4rem;
            }
        }
        .mobile_list{
            height: 77rem;
            height: 77rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 35%;
            h5 {
                font-size:4rem;
                cursor: pointer;
            }
        }
    }
}