.container{
    width: 100%;
    .topbar{
        img {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
    .navbar{
        display: flex;
        align-items: center;
        height: 9rem;
        margin-top: 1.5rem;
        
        .logo{
            flex: 0.4;
            
            img {
                margin-left: 10rem;
            }
        }

        .navbarmenu {
            flex: 0.55;
            display: flex;
            .menudetails{
                list-style: none;
                flex: 0.8;
                display: flex;
                height: 4rem;
                justify-content: space-evenly;
                letter-spacing: 2px;
                line-height: 4rem;
                text-align: center;

                li{
                    font-size: 1.5rem;
                }
            }
            .login{
                height: 4rem;
                line-height: 4rem;
                text-align: center;
                border: 2.5px solid #4a4a4a;
                border-radius: 30px;
                flex: 0.15;

                h1 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}


@media only screen and (max-width:900px){
    .container{
        .navbar{    
            .navbarmenu {
                flex: 0.6;
            }
        }
    }
}

@media only screen and (max-width:768px){
    .container{
        .navbar{
            .logo{
                img {
                    margin-left: 5rem;
                }
            }
    
            .navbarmenu {
                flex: 1;
                .menudetails{   
                    letter-spacing: 1px; 
                    li{
                        margin-right: 1rem;
                    }
                }
                .login{
                    height: 3rem;
                    line-height: 3rem;
                    flex: 0.2;
    
                    h1 {
                        font-size: 1.5rem;
                    }
                }

            }
        }
    }
}

@media only screen and (max-width:721px){
    .container{
        .navbar{
            .navbarmenu {
                .menudetails{   
                    margin-left: -5rem;
                }
                .login{
                    h1 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:676px){
    .container{
        .navbar{
            .navbarmenu {
                .menudetails{   
                    li{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .container{
        background-color: #FFFFFF;
        height: 11rem ;
    }
    .topbar{
        height: 0.4rem;
        margin-bottom: 3rem;
        img {
            width: 100%;
        }
    }
    .navbar{
        display: none !important;
    }
}