.container{
    .header{
        position: -webkit-sticky;
        position: sticky;
        background-color: #FFFFFF;
        top: 0;
    }
};

@media only screen and (max-width:600px){
    .container{
        width: 83rem
    }
};