.tryit {
    border: 3.5px solid #EF8094;
    text-align: center;
    margin-top: 23%;
    height: 5rem;
    line-height: 4.5rem;
    border-radius: 30px;
    width: 17%;
    margin-right: auto;
    margin-left: auto;

    p {
        font-weight: 500;
        font-size: 1.9rem;
    }
}

@media only screen and (max-width:1101px){
    .tryit{
        width:30%
    }
} 

@media only screen and (max-width:1101px){
    .tryit{
        p {
            font-size: 1.5rem;
        }
    }
} 
@media only screen and (max-width:600px){
    .tryit {
        border: 8px solid #EF8094;
        text-align: center;
        height: 10rem;
        line-height: 2.4;
        border-radius: 84px;
        width: 53rem;
        margin-right: auto;
        margin-left: auto;

        p {
            font-weight: 500;
            font-size: 4rem;
            span {
                font-weight: 500;
            }
        }
    }
}