.work_three{
    margin-top: 15rem;
    display: flex;
    height: 30rem;
    .workthree_pictures{
        flex: 0.5;
        
        .pic_three{
            float: right;
            height: 25rem;
            margin-bottom: -14rem;
        }
        .three_three{
            margin-left: 39.6rem;
            margin-top: -10rem;
        }
    }
    .desc_three{
        flex: 0.4;
        margin-top: 2rem;
        margin-left: 2rem;
        span {
            font-size: 2.5rem;
        }
        p{
            width: 80%;
            margin-top: 1rem;
            font-size: large;
            font-weight: 500;
        }
    }
};

@media only screen and (max-width:1600px) {
    .three_three{
        margin-left: 29.6rem !important;
    }
};

@media only screen  and (max-width:1500px) {
    .three_three{
        margin-left: 24.6rem !important;
    }
};

@media only screen  and (max-width:1366px) {
    .three_three{
        margin-left: 22rem !important;
    }
};

@media only screen and (max-width:1024px) {
    .work_three{
        .workthree_pictures{
            .three_three{
                margin-left: 11.6rem !important;
                margin-top: -10rem;
            }
        }
        .desc_three{
            flex: 0.4;
            margin-top: 2rem;
            margin-left: 2rem;
            span {
                font-size: 2.5rem;
                font-weight: 500;
            }
            p{
                width: 100%;
                margin-top: 1rem;
                font-size: large;
                font-weight: 500;
            }
        }
    }
};

@media only screen and (max-width:768px){
    .work_three{
        .workthree_pictures{
            .three_three{
                margin-left: 14.6rem !important;
                margin-top: -10rem;
            }
        }
        .desc_three{
            flex: 0.4;
            margin-top: 2rem;
            margin-left: 2rem;
            span {
                font-size: 2.5rem;
                font-weight: 500;
            }
            p{
                width: 100%;
                margin-top: 1rem;
                font-size: large;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width:600px){
    .work_three{
        display: block;
        .workthree_pictures{
            
            .pic_three{
                float: left;
                margin-left: 9rem !important;
                margin-bottom: -53rem !important;
                height: 60rem !important;
            }
            .three_three{
                margin-left: 12.6rem !important;
                height: 20rem;
                margin-bottom: 7rem;
                margin-top: 1rem;
            }
        }
        .desc_three{
            margin-top: 28rem;
            margin-left: 7rem;
            span {
                font-size: 7rem;
                font-weight: 500;
            }
            p{
                width: 80%;
                margin-top: 1rem;
                font-size: 3rem;
                font-weight: 500;
            }
        }
    }
}