.workone{
    display: flex;
    margin-top: 2rem;

    .workonepictures{
        flex: 0.5;
        .picone{
            float: right;
        }
        .oneone{
            float: right;
            margin-right: -6.2rem;
            margin-top: 2.2rem;
        }
    }
    .descone{
        flex: 0.5;
        margin-top: 2rem;
        margin-left: 2rem;
        span {
            font-size: 4rem;
            font-weight: 500;
        }
        p{
            width: 50%;
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: 500;
        }
    }
};

@media only screen and (max-width:1024px) {
    .descone{
        span {
            font-size: 2.5rem;
        }
        p{
            width: 80% !important;
            margin-top: 1rem;
            font-size: large;
            font-weight: 500;
        }
    }
}

@media only screen and (max-width:674px){
    .workone{
    
        .workonepictures{
            .picone{
                float: right;
                margin-bottom: -44rem;
            }
            .oneone{
               margin-left: 3rem;
               float: left;
            }
        }
        // .descone{
        //     flex: 0.5;
        //     margin-top: 2rem;
        //     margin-left: 2rem;
        //     span {
        //         font-size: 4rem;
        //         font-weight: 500;
        //     }
        //     p{
        //         width: 50%;
        //         margin-top: 2rem;
        //         font-size: 2rem;
        //         font-weight: 500;
        //     }
        // }
    };
}
@media only screen and (max-width:600px){
    .workone{
        margin-top: 2rem;
        display: block;
        .workonepictures{
            display: flex;
            .picone{
                height: 62rem;
                width: 74rem;
            }
            .oneone{
                height: 20rem;
                margin-left: -55rem;
                margin-top: 5.2rem;
            }
        }
        .descone{
            margin-left: 9rem;
            span {
                font-size: 7rem !important;
                font-weight: 500 ;
            }
            p{
                width: 50%;
                margin-top: 1rem;
                font-size: 3rem;
                font-weight: 500;
            }
        }
    }
};