
.worktwo{
    margin-top: -20rem;
    .workTworight{
        .workTwopictures{
            .pictwo{
                float: right;
                background: url("../../../assets/pngs/work2-art.png");
                background-repeat: no-repeat;
                background-size: 26%;
                background-position-x: 72.5%;
                margin-bottom: -23.5rem;
                background-position-y: 37%;
                width:81%;
            }
            .twotwo{
                margin-left: 45%;
                height: 20rem;
                margin-top: -17.6rem;
            }
        }
        .workTwodesc{
            width: 35%;
            float: right;
            margin-right: 11%;
            margin-top: -4rem;
            span {
                font-size: 4rem;
                font-weight: 500;
            }
            p{
                margin-top: 1rem;
                font-size: 2rem;
                font-weight: 500;
            }
        }
    }
}


@media screen and (max-width:1800px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -15.6rem;
                }
            }
            
        }
    }
    
};

@media screen and (max-width:1600px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -12.6rem;
                    margin-left: 44.5%;
                }
            }
            
        }
    }
    
};

@media only screen  and (max-width:1440px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -9rem;
                    margin-left: 43.8%;
                }
            }
            
        }
    }
};

@media only screen  and (max-width:1366px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -7rem;
                }
            }
            
        }
    }
};

@media only screen  and (max-width:1250px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -5rem;
                    margin-left: 43%;
                }
            }
            
        }
    }
};



@media only screen and (max-width:1200px){
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -4rem;
                    margin-left: 42.5%;
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: -1rem;
                    margin-left: 41.5%;
                }
            }
            .workTwodesc{
                margin-right: 9%;
            }
        }
    }
}

@media only screen and (max-width:902px) {
    .worktwo{
        .workTworight{
            .workTwopictures{
                .twotwo{
                    margin-top: 1.5rem;
                    margin-left: 40.5%;
                }
            }
        }
    }
}

@media only screen and (max-width:800px){
    .worktwo {
        .workTworight{
            .workTwopictures{
                .pictwo{
                    height: 95rem;
                    // background-size: 27rem;
                }
                .twotwo{
                    margin-left: 39.5%;
                    margin-top: -12.5rem;
                }
            }
            .workTwodesc{
                margin-right: 7%;
            }
        } 
    }
}

@media only screen and (max-width:768px){
    .worktwo {
        .workTworight{
            .workTwopictures{
                .pictwo{
                    height: 80rem;
                }
                .twotwo{
                    margin-top: -7.5rem;
                    margin-left: 39.5%;
                }
            }
            .workTwodesc{
                margin-right: 7%;
            }
        } 
    }
}

    // @media only screen and (max-width:600px){
    //     .worktwo{
    //         display: block;
    //         margin-top: -11rem;
    //         margin-right: 20rem;
    //         .workTworight{
    //             width: 100%;
    //             .workTwopictures{
    //                 margin-left: 1rem !important;
    //                 .pictwo{
    //                     float: right;
    //                     margin-top: 6rem;
    //                     background-position-x: 67rem;
    //                     background-position-y: 25rem;
    //                     height: 86rem;
    //                     width: 109rem;
    //                     background: none;
    //                 }
    //                 .twotwo{
    //                     height: 20rem !important;
    //                     margin-top: 15rem;
    //                     margin-left: -16rem !important;
    //                 }
    //             }
    //             .workTwodesc{
    //                 width: 100% !important;
    //                 margin-top: -4rem;
    //                 margin-right: 16rem !important;
    //                 span {
    //                     font-size: 7rem !important;
    //                     font-weight: 500 !important;
    //                 }
    //                 p{
    //                     margin-top: 1rem;
    //                     font-size: 3rem;
    //                     width: 50rem;
    //                     font-weight: 500;
    //                 }
    //             }
    //         }
    //     }
    // }