.working{
    background-color: #fff;
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    span {
        margin-left: auto;
        margin-right: auto;
        font-size:5rem;
        font-weight: 500;
    }
    img {
        margin-left: auto;
        margin-right: auto;
    }
};

@media only screen and  (max-width:1024px) {
    .working{
        width:77rem !important
    }
};

@media only screen and (max-width:768px){
        .working{
            width:77rem !important
        }
};

@media only screen and (max-width:600px){
    .working{
        width: 76.5rem !important;
        height: 18rem !important;

        span {
            margin-left: 11%;
            font-size:10rem !important;
            font-weight: 500;
        }
        img {
            margin-left: 12%;
            height: 4rem;
        }
    }
}