.workthree{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30rem;
    .workthreepictures{
        flex: 0.5;
        
        .picthree{
            float: right;
            margin-bottom: -27rem;
            
        }
        .threethree{
            margin-left: 57%;
            margin-top: -15rem;
        }
    }
    .descthree{
        flex: 0.4;
        margin-top: 2rem;
        margin-left: 5rem;
        span {
            font-size: 5rem;
            font-weight: 500;
        }
        p{
            width: 80%;
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 500;
        }
    }
};

// @media only screen and (max-width:1600px) {
//     .threethree{
//         margin-left: 29.6rem !important;
//     }
// };

// @media only screen  and (max-width:1500px) {
//     .threethree{
//         margin-left: 24.6rem !important;
//     }
// };

// @media only screen  and (max-width:1366px) {
//     .threethree{
//         margin-left: 22rem !important;
//     }
// };

// @media only screen and (max-width:1024px) {
//     .workthree{
//         .workthreepictures{
//             .threethree{
//                 margin-left: 11.6rem !important;
//                 margin-top: -10rem;
//             }
//         }
//         .descthree{
//             flex: 0.4;
//             margin-top: 2rem;
//             margin-left: 2rem;
//             span {
//                 font-size: 2.5rem;
//                 font-weight: 500;
//             }
//             p{
//                 width: 100%;
//                 margin-top: 1rem;
//                 font-size: large;
//                 font-weight: 500;
//             }
//         }
//     }
// };

@media only screen and (max-width:768px){
    .workthree{
        .workthreepictures{
            .threethree{
                margin-left: 14.6rem !important;
                margin-top: -10rem;
            }
        }
        .descthree{
            flex: 0.4;
            margin-top: 2rem;
            margin-left: 2rem;
            span {
                font-size: 2.5rem;
                font-weight: 500;
            }
            p{
                width: 100%;
                margin-top: 1rem;
                font-size: large;
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width:600px){
    .workthree{
        display: block;
        margin-left: 10rem;
        .workthreepictures{
            
            .picthree{
                float: left;
                margin-left: 9rem !important;
                margin-bottom: -53rem !important;
                height: 60rem !important;
            }
            .threethree{
                margin-left: 12.6rem !important;
                height: 20rem;
                margin-bottom: 7rem;
                margin-top: 1rem;
                width: 50rem;
            }
        }
        .descthree{
            margin-top: 28rem;
            margin-left: 7rem;
            span {
                font-size: 7rem;
                font-weight: 500;
            }
            p{
                width: 80%;
                margin-top: 1rem;
                font-size: 3rem;
                font-weight: 500;
            }
        }
    }
}