.container{
    border: 2px solid whitesmoke;
    margin: 10rem 2rem 2rem 2rem ;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    background-color: #FAFAFA;

    .logo{
        margin-left: 6rem;
        // height: 2.5rem;
        
        img {
            object-fit: cover;
            height: 5rem;
            width: 100%;
        }
    }

    .socialmedia{
        width: 15%;
        display: flex;
        justify-content: space-around;
        margin-right: 8rem;
        img {
            margin-right: 1rem;
            height: 5rem;
        }
    }
}

@media only screen and (max-width:1024px){
    .container{
        width: 75rem !important;
        margin-bottom: 1rem !important;
    }
    
}

@media only screen and (max-width:768px){
    .container{
        width: 74.5rem !important;
    }
    
}

@media only screen and (max-width:600px){
    .container{    
        width: 73rem !important;
        margin-left: 2rem;
    }
}