.container{
    border: 2px solid whitesmoke;
    margin: 5rem 1rem 1rem 1rem ;
    display: flex;
    justify-content: space-between;
    height: 7rem;
    align-items: center;
    background-color: #FAFAFA;

    .logo{
        margin-left: 6rem;
        height: 2.5rem;
        
        img {
            object-fit: cover;
            height: 2.5rem;
            width: 100%;
        }
    }

    .social_media{
        width: 11rem;
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width:1024px){
    .container{
        width: 75rem !important;
        margin-bottom: 1rem !important;
    }
    
}

@media only screen and (max-width:768px){
    .container{
        width: 74.5rem !important;
    }
    
}

@media only screen and (max-width:600px){
    .container{    
        width: 73rem !important;
        margin-left: 2rem;
    }
}