.container{
    border: 5px solid whitesmoke;
    margin-top: 10rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    align-items: center;
    background-color: #FAFAFA;

    .logo{
        margin-left: 6rem;
        img {
            object-fit: cover;
            height: 5rem;
            width: 100%;
        }
    }

    .socialmedia{
        width: 15%;
        display: flex;
        justify-content: space-around;
        margin-right: 8rem;
        img {
            margin-right: 1rem;
            height: 5rem;
        }
    }
}

@media only screen and (max-width:1200px){
    .container{
        margin-right: 4rem;
    }
}
    
@media only screen and (max-width:901px){
    .container{
        margin-right: 3rem;
    }
}

@media only screen and (max-width:600px){
    .container{  
        margin-left: 2rem;
    }
}